html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}
body {
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    background-color: black;
    border: solid 2px;
    border-radius: 15px;
    opacity: 0.9;
}
header .game-logo {
    margin-left: 10px;
    padding-bottom: 20px;
    width: 100px;
    height: 100px;
    float: left;
}
#title {
    font-size: 4em;
    text-align: center;
    color: white;
}

ul li {
    list-style: circle;
}
.game-weapons {
    display: inline-flex;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
figure img {
    max-width: 5rem;
    max-height: 5rem;
}

#start {
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    box-shadow: darkgray;
    text-align: center;
    font-size: 22px;
    margin-left: 23rem;
}


.game-intro {
    
    width: 90%;
    height: 66%;
    background-color: black;
    color: white;
    opacity: 0.9;
    margin: 33px;
    padding: 33px;
    border-radius: 25px;
}
.game-rules {
    font-size: 1.5rem;
    letter-spacing: 0.1.5rem;
    word-spacing: 0.1.5rem;
}

.game-rules h2 {
    margin-top: 3rem;
    text-align: center;
}

.player-box {   
    background-color: black;
    color: white;
    opacity: 0.8;
    text-align: center;
    flex-direction: column;
    min-height: 600px;
    min-width: 250px;
    max-height: 600px;
    max-width: 250px;
    margin-right: 55px;
    margin-left: 55px;
    border: solid 2px grey;
    border-radius: 25px;
    margin-top: 100px;
}

.player-box .player, .player-box .weapon {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.player-box .player-box {
    margin: 0 auto;
}


.weps-1 img, .weps-2 img, #player-1, #player-2 {
    width: 50px;
    height: 50px;
    padding: 5px;
}

#player-1 .player, #player-2 .player {
   
    font-size: 20px;
    text-align: center;
}
.player-img , #zombie-img, #human-img {
    width: 200px;
    height: 200px;
}
.name-1 , .name-2 {
    margin-top: 30px;
}


#board-game {
    min-width: 650px;
    min-height: 650px;
    max-width:  650px;
    max-height:  650px;
    border-radius: 5px;
    display: border-box;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;
    margin-bottom: 50px;
    position: relative;
}


#board-game .box {
    border-radius: 4px;
    border:solid 0.5px grey;
    background-color: aliceblue;
    background-image: url(../images/grass-ground.png);
    min-width: 50px;
    min-height: 50px;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
}

.box {
    width: 65px;
    height: 65px;
}


#board-game .obstacle {
    background-image: url('../images/Rock.png');
    background-size: 65px 65px;

}

#board-game .weapon.wp-1, .wp-1 {
    background-image: url('../images/weapon-1.png');
    background-size: 65px 65px;
}

#board-game .weapon.wp-2, .wp-2 {
    background-image: url('../images/weapon-2.png');
    background-size: 65px 65px;

}

#board-game .weapon.wp-3, .wp-3 {
    background-image: url('../images/weapon-3.png');
    background-size: 65px 65px;

}

#board-game .weapon.wp-4, .wp-4{
    background-image: url('../images/weapon-4.png');
    background-size: 65px 65px;

}

#board-game .player1 {
    background-image: url('../images/human2.png') !important;
    background-size: 65px 65px;
    background-position: no-repeat;
}

#board-game .player2 {
    background-image: url('../images/zombie3.png') !important;
    background-size: 65px 65px;
}

#gameOver {
    display: none;
}

.active-board {
    border: solid 10px brown;
    background-color: blueviolet;
    min-height: 600px;
    min-width: 250px;
    max-height: 600px;
    max-width: 250px;
}
.active {
    min-height: 600px;
    min-width: 250px;
    max-height: 600px;
    max-width: 250px;
}

.btn-attack-1, .btn-attack-2 {
    background-color: crimson;
    color: white;
    border:solid 5px cornflowerblue;
    border-radius: 10px;
}

.btn-defend-1, .btn-defend-2 {
    background-color: darkorange;
    color: white;
    border:solid 5px cornflowerblue;
    border-radius: 10px;
}